.cartPage {
  min-height: 100%;
}
.cartHeader {
  background: var(--tg-theme-bg-color);
}
.cartHeader > h3 {
  text-align: center;
}
.cartButton > button, .cartHeader > button {
  padding: 3px 10px;
  border-radius: 100px;
  font-size: 20px;
  border: 1px solid var(--tg-theme-hint-color);
  color: var(--tg-theme-button-text-color);
  background: var(--tg-theme-button-color);
  cursor: pointer;  
}
.cartHeader > button {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.cartHeader {
  padding: 1rem;
}
.cartHeader > span {
  margin-left: 1rem;
}

.cartButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: var(--tg-theme-bg-color);
}
.cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.cartItem {
  padding: 1rem;
  display: flex;
}
.cartItemBody {
  padding-left: 1rem;
}
.cartItem > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}