.cartPage {
  min-height: 100%;
}

.cartHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  box-shadow: 5px 0px 5px var(--theme-shadow-color);
  z-index: 1;
}

.cartHeader>img {
  width: 23px;
  height: 18px;
}

.cartHeader>h3 {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
}

.cartButton {
  position: fixed;
  bottom: 0;
  background: var(--tg-theme-bg-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.cartButton>.buy_button {
  margin: 1rem auto 1rem auto !important;
}

.cartHeader {
  padding: 1rem;
}

.buy_button {
  background: var(--gurmag-accent-color);
}

.cart {
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}

.cartItem {
  width: calc(50% - 1rem);
  display: flex;
  background: var(--tg-theme-bg-color);
  margin: 1rem 1rem 0 0;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .cartItem {
    width: 100% !important;
  }
}

.cartItemBody>div>span {
  padding-right: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
}

.cartItemBody {
  padding: 0 1rem 1rem;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItem>img {
  object-fit: cover;
  height: 100px;
  width: 80px;
}