
@media screen and (max-width: 768px) {
  .item_modal_img {
    width: 100% !important;
    height: 40vh !important;
  }
}


.item_modal_img {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.item_modal_body {
  position: relative;
  min-width: 50%;
  padding-left: 1rem;
}

.item_modal_body>h1 {
  color: var(--tg-theme-text-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.item_modal_body>.close_button {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  display: inline-block;
  cursor: pointer;
}

.add_to_cart_button, .plus, .minus {
  margin: 5px 10px;
  width:fit-content;
  padding: 5px 15px;
  border-radius: 100px;
  border: 1px solid var(--tg-theme-hint-color);
  color: var(--tg-theme-button-text-color);
  background: var(--tg-theme-button-color);
  cursor: pointer;
}
.add_to_cart_button > span {
  margin-left: 10px;
}

.available_types {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.available_types > img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin: 5px;
  object-fit: cover;
}

.available_types > .selected {
  outline: 5px solid var(--tg-theme-button-color);
}

.total_price {
  color: var(--tg-theme-text-color) !important;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.item_modal_body > span {
  color: var(--tg-theme-hint-color);
}