.confirm_modal__body {
  position: relative;
  min-width: 90vw;
  box-sizing: border-box;
}

.confirm_couseList_item > header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.confirm_couseList_item > section {
  font-size: 12px;
  color: var(--тихий-текст);
}

.confirm_couseList_item > section table {
  border: 1px dashed var(--тихий-текст);
  border-radius: 8px;
  line-height:normal;
}
.confirm_couseList_item > section tr td {
  border-bottom: 1px dashed var(--тихий-текст);
}
.confirm_couseList_item > section tr:last-child td {
  border-bottom: none;
}
.confirm_couseList_item > section tr td:first-child {
  width: 35%;
}