.page_filter {
  width: 100%;
  background-color: var(--tg-theme-bg-color); 
  position: relative;
  /* todo bg color */
}
.overlayed {
  position: fixed;
  top: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.overlayed > .filter_list {
  flex-wrap: nowrap;
}

.filter_list {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow-x: overlay;
  padding-bottom: 5px;
}

/* size */
.filter_list::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

/* Track */
.filter_list::-webkit-scrollbar-track {
  background: 'none';
}
 
/* Handle */
.filter_list::-webkit-scrollbar-thumb {
  background: var(--tg-theme-button-color); 
  /* background: #949fff;  */
  border-radius: 5px;
}

/* Handle on hover */
.filter_list::-webkit-scrollbar-thumb:hover {
  background: var(--tg-theme-button-color); 
  /* background: #5364fb;  */
}



.filter_item {
  padding: 5px 15px;
  border-radius: 100px;
  border: 1px solid var(--tg-theme-text-color);
  transition: all 0.3s ease 0s;
  margin: 10px 5px;
  font-size: 18px;
  font-weight: 300;
}

.filter_list .active {
  background: #ffe494;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    top: -50px;
  }
  
  to {
    opacity: 1;
    top: 0;
  }
}