.page_filter {
  width: 100%;
  background-color: white; 
  /* todo bg color */
}
.overlayed {
  position: fixed;
  top: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.filter_list {
  display: flex;
  flex-wrap: wrap;
  /* todo wrap or scroll */
}

.filter_item {
  padding: 5px 15px;
  border-radius: 100px;
  border: 1px solid black;
  transition: all 0.3s ease 0s;
  margin: 10px 5px;
  font-size: 18px;
  font-weight: 300;
}

.filter_list > .active {
  background: #ffe494;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    top: -50px;
  }
  
  to {
    opacity: 1;
    top: 0;
  }
}