
@media screen and (max-width: 768px) {
  .item_modal_img {
    width: 100% !important;
    height: 33vh !important;
  }
}


.item_modal_img {
  object-fit: cover;
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.item_modal_body {
  position: relative;
  min-width: 50%;
  box-sizing: border-box;
}

.item_modal_body>h1 {
  color: var(--tg-theme-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 24.5px;
  margin-top: 10px;
  margin-left: 10px;
}

.add_to_cart_button {
  background: var(--tg-theme-button-color);
}

.available_types {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  margin-top: 5px;
  padding: 5px 0;
}

.available_types::-webkit-scrollbar {
  height: 5px;
  width: 7px;
  display: block;
}

.available_types::-webkit-scrollbar-track {
  background: none;
  /* background: transparent; */
}
 
.available_types::-webkit-scrollbar-thumb {
  background: none; 
  /* background: var(--tg-theme-button-color);  */
  /* border-radius: 5px; */
}

.available_types::-webkit-scrollbar-thumb:hover {
  background: none; 
  /* background: var(--tg-theme-button-color);  */
}

.available_types::-webkit-scrollbar-track-piece:end {
  background: transparent;
  /* background: transparent;
  margin-right: 10px;  */
}

.available_types::-webkit-scrollbar-track-piece:start {
  background: none;
  /* background: transparent;
  margin-left: 10px; */
}

.available_types > img {
  height: 65px;
  width: 65px;
  border-radius: 8px;
  margin-left: 11px;
  object-fit: cover;
}

.available_types > .selected {
  outline: 3px solid var(--tg-theme-button-color);
}

.total_price {
  color: var(--tg-theme-text-color) !important;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.item_modal_body > span, .row > span {
  /* color: var(--tg-theme-hint-color); */
  color: var(--designed-span-color);
  font-size: 12px;
  font-weight:600;
  line-height: 16.34px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.count_and_price {
  margin-top: 10px;
}
.count_and_price img:hover {
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  color: var(--tg-theme-text-color);
  text-align: right;
}

.cout {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.count {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  padding: 8px 12px;
  margin: 0 12px;
  border: 1px solid #D8DDE3;
  border-radius: 6px;
}