.modal_background {
  width: 100%;
  min-height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.50);
  z-index: 100;
  overflow-y: auto;
}

.modal {
  padding: 10px;
  position: absolute;
  background: var(--фон-элемента);
  max-width: 80vw;
  animation-name: Jump;
  animation-duration: 0.3s;
  display: flex;
  border-radius: 8px 8px 0 0;
  flex-direction: column;
}

@keyframes Jump {
  from {
    margin-top: -300px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 300px) {
  .modal {
    max-width: 93vw;
  }
}

@media screen and (min-width: 576px) {
  .modal {
    max-width: 92vw;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 88vw;
    flex-direction: row;
  }
  .modal_background {
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .modal {
    max-width: 84vw;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 80vw;
  }
}

@media screen and (min-width: 1400px) {
  .modal {
    max-width: 80vw;
  }
}

.modal_close_button {
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--фон-страницы);
}

.modal_close_button:hover {
  cursor: pointer;
}