.cartOverlay {
  padding: 15px;
  border-radius: 100px;
  background-color: var(--gurmag-accent-color);
  bottom: 22px;
  right: 17px;
  border: 1px solid var(--tg-theme-hint-color);
  position: fixed;
  cursor: pointer;
}
.cartOverlay > img {
  margin: auto;
  height: 24px;
  width: 24px;
}
.cartOverlay > span {
  color: white;
  top: 0;
  padding: 5px 12px;
  border-radius: 100px;
  background-color: var(--tg-theme-button-color);
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
}