.watchActionModal__body {
  max-height: 85vh;
  overflow-y: scroll;
}

/* size */
.watchActionModal__body::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

/* Track */
.watchActionModal__body::-webkit-scrollbar-track {
  background: 'none';
}
 
/* Handle */
.watchActionModal__body::-webkit-scrollbar-thumb {
  background: var(--tg-theme-button-color); 
  /* background: #949fff;  */
  border-radius: 5px;
}

/* Handle on hover */
.watchActionModal__body::-webkit-scrollbar-thumb:hover {
  background: var(--tg-theme-button-color); 
  /* background: #5364fb;  */
}


.watchActionModal__img {
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--tg-theme-bg-color) 80%);
  background-size: cover;
  display: inline-block;
}

.watchActionModal__img>h3 {
  position: absolute;
  top: 70%;
  color: var(--gurmag-accent-color);
  margin-left: 10px;
}

.watchActionModal__img>img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
  z-index: -1;
  display: block;
}

@media screen and (max-width: 768px) {
  .watchActionModal__img>img {
    width: 100% !important;
    height: 33vh !important;
  }
}



.watchActionModal__description {
  margin-left: 10px;
  color: var(--тихий-текст);
}

.dish_link {
  color: var(--tg-theme-button-color);
}
.dish_link:hover {
  cursor: pointer;
}