.watchActionModal__body {
  max-height: 85vh;
  overflow-y: scroll;
}

.watchActionModal__img {
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--фон-элемента) 80%);
  background-size: cover;
  display: inline-block;
}

.watchActionModal__img>h3 {
  position: absolute;
  top: 70%;
  color: var(--gurmag-accent-color);
  margin-left: 10px;
}

.watchActionModal__img>img {
  object-fit: cover;
  width: 50%;
  height: auto;
  border-radius: 8px;
  position: relative;
  z-index: -1;
  display: block;
}

@media screen and (max-width: 768px) {
  .watchActionModal__img>img {
    width: 100% !important;
    height: 33vh !important;
  }
}



.watchActionModal__description {
  margin-left: 10px;
  color: var(--тихий-текст);
}