.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.header > div {
  margin-left: 25px;
}

.header_logo {
  width: 100px;
  height: auto;
}

.header_contacts {
  display: flex;
}
.header_contacts > div {
  margin-left: 25px;
}

.slogan_quote {
  color: var(--tg-theme-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}